@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic');
/* 

	ОБЩЕЕ

*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #eee;
}
a {
	color: #eee;
	text-decoration: none;
}
body {
	line-height: 135%;
	font-size: 1em;
	background: #e9e9e9;
}
input {outline:none;}
/*

		ШАПКА САЙТА

*/

#top {
	display: flex;
	align-items: center;
	padding: 17px;
	background: #333;
	color: #fff;
}
#logo {
	flex: 1;
	font-size: 2em;
	text-align: left;
}
#menu {
	display: flex;
	justify-content: center;
	flex: 3;
	text-align: center;
}
#menu a {
	margin: 0 7px;
}
#menu .separator {
	display: inline;
	font-size: 1.1em;
}
#search-box {
	display: flex;
	position: relative;
	top: -1px;
	align-items: center;
	padding: 0 7px;
	font-size: 1em;
    border-radius: 50px;
	color: #333;
	background: #EEE;
}
#search-box #search{
	border: none;
	width: 140px;
	color: #333;
	margin: 0px -7px 5px;
	background: none;
	cursor: text;
}
#search-key {
	color: #333;
}
#auth {
	flex: 1;
	text-align: right;
	display: flex;
	justify-content: flex-end;
}
#logout {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	text-decoration: none;
	color: #eee;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 135%;
	cursor: pointer;
}
#auth a {
	margin: 0 7px;
}
#auth .separator {
	display: inline;
	font-size: 1.1em;
}
#auth #enter {
	cursor: pointer;
}
/*Окно авторизации*/
#box-auth {
	display: none;
	justify-content: flex-end;
	position: absolute;
	z-index: 100;
	padding: 14px;
	margin-left: 10px;
	box-sizing: border-box;
	background: #333;
}
#box-auth form {
	display: flex;
	flex-direction: column;
}
#box-auth form input {
	margin-top: 17px;
}
#box-auth input {
	border: 1px solid #EEE;
    -webkit-border-radius: 50px;
   	-moz-border-radius: 50px;
    border-radius: 50px;
	color: #333;
	padding: 0 7px;
	font-size: 0.9em;
	cursor: text;
}
#box-auth form #submit_auth {
	cursor: pointer;
	background: #eee;
}

/*

		ТЕЛО САЙТА

*/
article {

}
#article {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
#content {
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
}
#posts, #top-posts {
	flex-wrap: wrap;
	text-align: center;
	background: white;
	justify-content:space-around;

}
/*Левая часть. Новости*/
#posts {
	align-content: flex-start;
	display: flex;
	flex: 3;
	flex-wrap: wrap;
	padding: 10px;
	order: 1;
}
#last-post {
	width: 100%;
	margin-bottom: 50px;
}
#last-post .img-post {
	height: 350px;
	margin-bottom: 10px;
}
#last-post .more {
	margin-top: 10px;
}
#last-post .label-post {
	padding: 15px;
	font-size: 0.9em;
}
#last-post .label-post-up {
	font-size: 2em;
	line-height: 135%;
}
#label-post {
	bottom: 0;
	padding: 15px;
	font-size: 0.9em;
	width: 100%;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	position:absolute;
	background: #333;
	z-index: 3;
}
.post, .full-post {
	width: 248px;
	margin: 7.5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#posts .post {
	background:#E8E8E8;
	padding: 4px;
	box-sizing: border-box;
}
#posts #last-post {
	background: none;
	padding: 5px;
	box-sizing: border-box;
}
.full-post {
	justify-content: flex-start;
}
#title-post {
	color: #333;
	text-align: left;
	margin: 20px 0 40px 20px;
	font-size: 2em;
	line-height: 120%;
}
.img-post, #img-post {
	width: 100%;
	height: 140px;
	overflow: hidden;
	position:relative;
}
#img-post {
	height: 350px;
}
.img-post img, #img-post img {
	min-height: 100%;
	width: 100%;
	position:absolute;
	z-index: 2;
	margin: auto;
	left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
#img-post img {
	z-index: auto;
}
.label-post {
	font-size: 0.8em;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	text-align: left;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position:absolute;
	padding: 5px;
	background: rgba(0,0,0,0.54);
	z-index: 1;
	cursor: pointer;
}
.label-post:hover {
	z-index: 3;
}
.label-post-up {
	display: flex;
	justify-content:space-between;
}
.label-post-down {
	display: flex;
	justify-content:space-between;
}
.img-post img:hover {
	z-index: 0;
}
.text-post {
	width: 100%;
	text-align:justify;
	margin: 0 auto;
	color: #333;
	line-height: 140%;
}
#text-post {
	width: 100%;
	text-align:justify;
	margin: 20px auto 0;
	color: #333;
	line-height: 140%;
	white-space:pre-wrap;
}
.more {
	background:#4C4C4C;
	padding: 3px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	margin: 5px auto 0;
}
#posts .post .more {
	width: calc(100% + 8px);
	left: -4px;
	bottom: -4px;
}
.more:hover {
	background: #828282;
	cursor: pointer;
}
.more:active {
	background: #333;
}
.page {
	flex-basis: 100%;
	margin-top: 10px;
	color: #333;
	font-size: 1.6em;
	display: flex;
	align-content: center;
	align-items:center;
	justify-content: center;
}
.page a {
	color: #333;
	margin: 0 10px;
	cursor: pointer;
}
/*Правая часть. Топ*/
#top-posts {
	flex: 1;
	order: 2;
	padding: 10px;
	display: none;
	flex-direction: column;
	margin-left: 7px;
}
@media screen and (min-width: 1110px) {
    #top-posts {
        display: flex;
    }
}
/*

		ФУТЕР САЙТА

*/
footer {
	padding: 7px;
	display: flex;
	justify-content: space-between;
	background: #333;
	color: #fff;
	font-size: 0.7em;
}

/*

	ДОБАВЛЕНИЕ ПОСТОВ

*/



#addArticle {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	width: 60%;
}
#addArticle p {
	font-size: 2em;
	color: #333;
	text-align: center;
	margin: 20px 0;
}
#addArticle .label-post {
	cursor: auto;
}
#addArticle .label-post-down {
	cursor: default;
}
#addArticle input[type=file], #reg_form input[type=file]{
	display: none;
}
#upload {
	font-size: 3em;
}
#upload:hover {
	color: #828282;
	cursor: pointer;
}
#upload:active {
	color: #333;
}
.addArticle {
	background: none;
	border: none;
	font-size: 1em;
}
#done {
	font-size: 1em;
	border: none;
}
#label-post-up .addArticle {
	font-size: 2em;
}
.text-post .addArticle {
	border: 1px solid #333;
	width: 100%;
	height: 150px;
	color: #333;
	padding: 10px;
	box-sizing: border-box;
}
 /*

	РЕГИСТРАЦИЯ

*/
#registration, #authorization {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
#registration form, #auth_reg, #authorization form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	width: 20em;
	background: #333;
	margin-top: 30px;
	border-radius: 5px;
}
#authorization {
	margin: 150px 0;
}
#auth_reg  {
	margin: 30px 0;
}

#user_logo {
	position: relative;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 10px;
}
#user_logo span {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.user_logo_span_WbH {
	position: absolute;
	width: 500px; /* жестко задана ширина */
	left: 50%;
	margin-left: -250px;
}
#user_logo span img {
	position: relative;
	z-index: 2;
}
.user_logo_span_img_HbW {
	width: 100%;
}
.user_logo_span_img_WbH {
	height: 100%;
}
#label_reg {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5em;
	position: absolute;
	background: rgba(0,0,0,0.50);
	width: 100%;
	height: 100%;
	z-index: 2;
}
#user_logo img:hover {
	z-index: 1;
}
#label_reg:hover {
	z-index: 5;
	cursor: pointer;
}
#user_date {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	
}
#user_date input {
	width: 85%;
	margin: 5px;
	padding: 5px 10px;
	background: white;
	border-radius: 50px;
	border: none;
	color: #333;
	text-align: center;
	font-size: 0.9em;
}
#user_date #submit_reg {
	width: 50%;
	margin-top: 10px;
}